.section-left{
    width: 70%;
    background: linear-gradient(to top, #13121F 0%, #013029 100%);
    display: inline-block;
    margin: 0px;
    padding-left: 0px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.weather-card{
  color: white;
  width: 650px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.city{
  font-weight: normal;
    font-size: 39px;
    margin-top: 36px;
    margin-bottom: 27px;
    opacity: .8;
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
    	-webkit-transition: all 0.5s linear;
    	-o-transition: all 0.5s linear;
    	transition: all 0.5s linear;

    /*text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
    color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;*/
}

.city:hover {
  /*color: #FF1177;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;*/
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}

.description{
  font-weight: 300;
  font-size: 28px;
  margin-top: -12px;
  opacity: .7;
}

.main-icon{
  width: 222px;
  margin-bottom: 24px;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.main-icon:hover {
  -webkit-filter: drop-shadow(-5px -5px 50px rgba(0, 231, 255, 0.8));
  /*-webkit-filter: drop-shadow(-5px -5px 50px rgba(9, 107, 95, 0.8));*/
}

.temperature-box{
  display: flex;
  font-weight: 300;
  justify-content: space-evenly;
  font-size: 28px;
}

.current{
  color: #74ffd9;
  margin: 0px;
}

.high{
  color: #74ffd9;
  margin: 0px;
}

.low{
  color: #74ffd9;
  margin: 0px;
}

.summary{
  padding-top: 0px;
  font-weight: 100;
  font-size: 24px;
  opacity: .7;
  margin-bottom: 40px;
}

.hourly{
  background: black;
  opacity: .5;
  display: flex;
  justify-content: space-evenly;
}

.seven-hour-condition-box{
  width: 93px;
}

.seven-hour-condition{
  opacity: 1;
  padding-left: 5px;
  padding-right: 5px;
}

.seven-hour-temperature-icon{
  color: #83ffea;
}

@media (max-width: 1000px) {
  .section-left{
    width: 100%;
  }
}
