@import 'CurrentWeather.css';
@import 'App.css';
@import 'Search.css';
@import 'Tenhour.css';
@import 'Welcome.css';
@import 'App.css';

html {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}
