.ten-day-container{
  justify-content: space-between;
  width: 50%;
  background: black;
  display: flex;
  flex-direction: column;
}

.ten-day {
  width: 60%;
  margin: 0;
  padding: 5px 0px 5px 15px;
  color: #fff;
  font-size: 22px;
}

.day-card {
  padding-top: 40px;
  display: flex;
  flex: 1;
  background-color: #000;
  opacity: 0.8;
}


.icon {
  height: 35px;
  width: 35px;
}

.ten-day-icon {
  display: flex;
  justify-content: center;
  width: 10%;
  padding-left: 20px;
}

.day-high {
  width: 10%;
  margin: 0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #47f5d2;
  font-size: 20px;
}

.day-low {
  width: 10%;
  margin: 0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #d1d3d6;
  font-size: 18px;
}

@media (max-width: 900px) {
  .ten-day-container {
    width: 100%;
    padding-bottom: 30px;
    font-size: 18px;
  }
}
