html {
  font-family: "Source Sans Pro";
}

h1 {
  font-size: 140px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
}

.welcome-container {
  height: 100%;
  width: 100%;
}

.background-video  {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation-delay: 1s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 2, .2);
  -webkit-animation-duration: .2s;
}

.input-container {
  z-index: 1;
  position: absolute;
  top: 260px;
  left: 350px;
}
